@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@font-face {
    font-family: DS-DIGIT;
    src: url(font/DS-DIGIT.TTF);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #14182B;
    --sidebar-color: #20253D;
    --title-color: rgb(231, 233, 240);
    --sub-title-color: rgba(231, 233, 240, 0.75);
    --prime-color: #016bff;
    --bg-prime-color: rgba(1, 107, 255, 0.1);

    /* ====== Transition ====== */
    --trans-01: all 0.3s ease;
    --trans-02: all 0.5s ease;
    --trans-03: all 1s ease;
}

body {
    transition: var(--trans-01);
    color: var(--title-color);
    background-color: var(--body-color);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.icon {
    opacity: 0.75;
    color: var(--title-color);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ========== Nav Header ========== */
.nav-header {
    position: fixed;
    top: 1rem;
    left: 14rem;
    right: 1rem;
    height: 48px;
    border-radius: 8px;
    transition: var(--trans-01);
}

.nav-header.active {
    left: 6rem;
}

.nav-header .title-header {
    height: 100%;
    font-size: 24px;
    font-weight: 500;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--title-color);
    transition: var(--trans-01);
}

.nav-header .menu-header {
    display: flex;
    gap: 2rem;
}

.nav-header .menu-header .box-search {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    gap: 1rem;
    background-color: var(--sidebar-color);
}

.nav-header .menu-header .box-search input {
    width: 16rem;
    border: none;
    outline: none;
    font-weight: 300;
    color: var(--title-color);
    background-color: var(--sidebar-color);
}

.nav-header .menu-header .box-search input::placeholder {
    opacity: 0.75;
    color: var(--title-color);
}

.nav-header .menu-header .box-search i {
    cursor: pointer;
}

.nav-header .menu-header .icons-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-header .menu-header .icons-header .icon-header {
    width: 36px;
    height: 36px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--sidebar-color);
}

.nav-header .menu-header .icons-header .icon-header:hover {
    
}

/* ========== Nav Sidebar ========== */
.nav-sidebar {
    position: fixed;
    left: 1rem;
    top: 1rem;
    bottom: 1rem;
    width: 192px;
    border-radius: 1rem;
    flex-direction: column;
    background-color: var(--sidebar-color);
    transition: var(--trans-01);
}

.nav-sidebar.close {
    width: 64px;
}

.nav-sidebar .content-sidebar {
    width: 100%;
    height: 100%;
}

.nav-sidebar .header-sidebar {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0;
    gap: 1rem;
}

.nav-sidebar .header-sidebar img {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--title-color);
    transition: var(--trans-01);
}

.nav-sidebar.close .header-sidebar img {
    width: 32px;
    height: 32px;
}

.nav-sidebar .header-sidebar .title-avatar {
    width: 100%;
    font-size: 12px;
    text-align: center;
    opacity: 0.75;
    color: var(--title-color);
}

.nav-sidebar.close .title-avatar {
    display: none;
}

.nav-sidebar div hr {
    border: none;
    opacity: 0.75;
    height: 0.5px;
    background-color: var(--title-color);
}

.nav-sidebar .menu-sidebar {
    width: 100%;
    padding: 2rem 0;
}

.nav-sidebar .menu-sidebar li a {
    position: relative;
    height: 48px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1.5rem;
    margin: 0.5rem 0;
    
}

.nav-sidebar .menu-sidebar li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 4px;
    background: var(--prime-color);
    transition: var(--trans-02);
  }

.nav-sidebar .menu-sidebar li a:hover:before {
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.nav-sidebar .menu-sidebar li a:hover {
    background-color: var(--bg-prime-color);
}

.nav-sidebar .menu-sidebar .title-icon {
    opacity: 0.75;
    color: var(--title-color);
}

.nav-sidebar.close .menu-sidebar .title-icon {
    display: none;
}

.nav-sidebar .toggle {
    width: 100%;
    margin: 1rem 0;
    cursor: pointer;
}

.nav-sidebar.close .toggle {
    transform: rotate(180deg);
}

.menu {
    position: relative;
    top: 80px;
    left: 1000px;
    padding: 16px;
    width: fit-content;
    background-color: #016bff;
    display: flex;
    flex-direction: column;
    display: none;
}